@model BannerViewModel
@{
    ViewData["Title"] = "메인베너 설정";
}

<div class="container">
    <h2>[메인]페이지관리</h2>
    <div class="panel panel-default">
        <div class="panel-heading">검색조건</div>
        <div class="panel-body">
            <form class="form-inline" action="/action_page.php">
                <div class="form-group">
                    <label for="email">사용구분:</label>
                    <select name="hobby" class="form-control">
                        <option value="전체">전체</option>
                        <option value="사용함">사용함</option>
                        <option value="사용안함">사용안함</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">적용구분:</label>
                    <select name="hobby" class="form-control">
                        <option value="전체">선택</option>
                        <option value="관리자확정시">관리자확정시</option>
                        <option value="실시간">실시간</option>
                        <option value="일별">일별</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pwd">그룹구분:</label>
                    <select name="hobby" class="form-control">
                        <option value="전체">선택</option>
                        <option value="사용함">index</option>
                        <option value="사용안함">기프트메인</option>
                        <option value="사용안함">PC배너</option>
                        <option value="사용안함">M/A배너</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pwd">적용위치:</label>
                    <select name="hobby" class="form-control">
                        <option value="전체">전체</option>
                    </select>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="remember"> 종료이전 </label>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success">조회</button>
                    <button type="button" class="btn btn-default">신규등록</button>
                </div>
                
            </form>
        </div>
    </div>
    <p>검색결과 : 27 페이지 1 / 3</p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>idx</th>
                <th>구분명</th>
                <th>이미지/텍스트</th>
                <th>링크구분</th>
                <th>반영주기</th>
                <th>시작일</th>
                <th>종료일</th>
                <th>사용여부</th>
                <th>우선순위</th>
                <th>등록자</th>
                <th>작업자</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var banner in Model.Banners)
            {
            <tr>
                <td>@banner.Id</td>
                <td>@banner.gubun</td>
                <td>@banner.linkType</td>
                <td>@banner.linkType</td>
                <td>@banner.releaseCycle</td>
                <td>@banner.startDate</td>
                <td>@banner.endDate</td>
                <td>@banner.isUsing</td>
                <td>@banner.priority</td>
                <td>@banner.registrant</td>
                <td>@banner.worker</td>
            </tr>
            }
            <tr>
                <td>1</td>
                <td>상단롤링</td>
                <td>텍스트</td>
                <td>링크</td>
                <td>실시간</td>
                <td>20180620</td>
                <td>20180620</td>
                <td>Y</td>
                <td>80</td>
                <td>조은수</td>
                <td>임혜원</td>
            </tr>
            <tr>
                <td>1</td>
                <td>상단롤링</td>
                <td>텍스트</td>
                <td>링크</td>
                <td>실시간</td>
                <td>20180620</td>
                <td>20180620</td>
                <td>Y</td>
                <td>80</td>
                <td>조은수</td>
                <td>임혜원</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">        
        <ul class="pagination">
            <li class="previous"><a href="#">Previous</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>
    </div>
</div>
